<style>
.about dt:not(:last-child) {
  margin-top: 1em;
}

.about dt {
  text-decoration: underline;
}
</style>

<h3>What is it?</h3>

<p><u>TwitchyStreamer</u> is simply a tool that helps you share files you're working on with people.</p>

<h3>Why not use github? or pastebin?</h3>

<p>This isn't a version control tool. This is a very simple tool to show people online your progress <b>live</b>. There are no commits, no pushes, no conflicts...</p>
<p>It is basically a paste tool that allows you to upload folders of files</p>

<h3>It is free</h3>

<p>It is free to use and fully opensource <i>(github link is at the bottom)</i>. No authentication required.</p>

<h2>FAQ</h2>


<dl class="about">
  <dt>I have lost my secret key. What do I do?</dt>
  <dd>There is nothing you can do. The project is going to be purged automatically in some time due to inactivity.</dd>

  <dt>My project has disappeared</dt>
  <dd>If a project has been inactive for a while (2 days) it gets automatically purged.</dd>
</dl>

<div class="well">
  <p>Developed by <i>AECepoglu</i>. Contact me at</p>

  <p><a href="">(TODO)Link to GitHub</a></p>
</div>
