<style>
.about dt:not(:last-child) {
  margin-top: 1em;
}

.about dt {
  text-decoration: underline;
}
</style>

<h3>What is it?</h3>

<p><u>TwitchyStreamer</u> is simply a tool that helps you share files you're working on with people.</p>

<h3>Why not use github? or pastebin?</h3>

<p>This isn't a version control tool. This is a very simple tool to show people online your progress <b>live</b>. There are no commits, no pushes, no conflicts...</p>
<p>It is basically a paste tool that allows you to upload folders of files</p>

<h3>It is free</h3>

<p>It is free to use and fully opensource <i>(github link is at the bottom)</i>. No authentication required.</p>

<h2>FAQ</h2>


<dl class="about">
  <dt>I have lost my secret key. What do I do?</dt>
  <dd>There is nothing you can do. The project is going to be purged automatically in some time due to inactivity.</dd>

  <dt>My project has disappeared</dt>
  <dd>If a project has been inactive for a while (2 days) it gets automatically purged.</dd>
</dl>

<div class="well">
  <p>Developed by <i>AECepoglu</i>. Contact me at <script type="text/javascript">
    //<![CDATA[
    <!--
    var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
    "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
    " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!29{)rt{y+xx=l;=+;" +
    "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
    "\"(4),2\\\"\\\\6E01\\\\\\\\'%<$Qa02\\\\0s\\\\(hin37\\\\0S\\\\}jdg3@01\\\\\\" +
    "\\21\\\\03\\\\03\\\\\\\\24\\\\0n\\\\\\\\\\\\34\\\\03\\\\03\\\\\\\\22\\\\07\\"+
    "\\02\\\\\\\\VKP/M-\\\\n2\\\\00\\\\\\\\31\\\\05\\\\00\\\\\\\\37\\\\0J\\\\4K2" +
    "5\\\\03\\\\00\\\\\\\\10\\\\05\\\\00\\\\\\\\06\\\\00\\\\02\\\\\\\\25\\\\03\\" +
    "\\6&(>-2\\\\re\\\\5#>0'1\\\"\\\\\\\\\\\\\\\\o\\\\\\\"(\\\\ c\\\"\\\\\\\\\\\\"+
    "$+4<#'04\\\\06\\\\&.O/^[ZY00\\\\0V\\\\[LT_1Y02\\\\\\\\4n01\\\\\\\\JV\\\\\\\\"+
    "\\\\\\\\4E01\\\\\\\\6J02\\\\\\\\13\\\\00\\\\00\\\\\\\\JIP@PJ6V01\\\\\\\\pkq" +
    "xyn|v\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro.fngriSt+=;o27" +
    "=1y%2;*=)yy)4+(2i>f({i+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va)" +
    "{,y(x fontincfu)\\\"\")"                                                     ;
    while(x=eval(x));
    //-->
    //]]>
    </script>
  </p>

  <p><a href="">(TODO)pretty link to GitHub</a></p>
</div>
