<br/>
<br/>

<div class="jumbotron">
  <h1>Welcome,</h1>
  
  <p>
    <u>Twitchy Streamer</u> helps you show others <small><small>(your twitch audience, your interviewer, colleagues, friends...)</small></small> the contents of your files.
  </p>

  <p>
    <%= link_to "Create A Project", new_project_path, class: "btn btn-primary" %> to start sharing!
  </p>

  <p class="text-right">
    <small><%= link_to "more info", about_path %></small>
  </p>
</div>
